<header>
  <div class="app-navbar">
    <h1 class="app-name">app</h1>
  </div>
</header>
<router-outlet>
  <app-downloader></app-downloader>
</router-outlet>
<footer>
  <div class="fapp-navbar">
    <i class="iconhome fa-solid fa-house"></i>
    <i class="iconsquare fa-solid fa-square"></i>
    <i class="iconsquare fa-solid fa-square"></i>
    <i class="iconsquare fa-solid fa-square"></i>
    <i id="iconopen" class="iconopen fa-solid fa-bars" onclick="showMenu();"></i>
    <div id="submenu" class="sub-menu">
      <p>Sub-Menu-Item-1</p>
      <p>Sub-Menu-Item-2</p>
      <p>Sub-Menu-Item-3</p>
      <p>Sub-Menu-Item-4</p>
      <p>Sub-Menu-Item-5</p>
    </div>
  </div>
</footer>